<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Courses | Adhyapna </title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
		type="text/css">
	<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
	<!-- /global stylesheets -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->


	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/prism.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/sidebar_dual.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
	<!-- /theme JS files -->
	<style>
		.btn-float {
    padding: 4px;
    white-space: normal;
    border-radius: 3px;
}
.btn-float > span {
    display: block;
    padding-top: 10px;
    margin-bottom: 10px;
}
.sidebar .row {
    margin-left: -15px;
    margin-right: -15px;
}
.sidebar .row [class*=col-] {
    margin-bottom: 10px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}
.category-content {
    margin: 5px 5px 5px 5px;
    position: relative;
    /* padding: 20px; */
}

		@media screen and (max-width: 480px) {

			.col-xs-1,
			.col-sm-1,
			.col-md-1,
			.col-lg-1,
			.col-xs-2,
			.col-sm-2,
			.col-md-2,
			.col-lg-2,
			.col-xs-3,
			.col-sm-3,
			.col-md-3,
			.col-lg-3,
			.col-xs-4,
			.col-sm-4,
			.col-md-4,
			.col-lg-4,
			.col-xs-5,
			.col-sm-5,
			.col-md-5,
			.col-lg-5,
			.col-xs-6,
			.col-sm-6,
			.col-md-6,
			.col-lg-6,
			.col-xs-7,
			.col-sm-7,
			.col-md-7,
			.col-lg-7,
			.col-xs-8,
			.col-sm-8,
			.col-md-8,
			.col-lg-8,
			.col-xs-9,
			.col-sm-9,
			.col-md-9,
			.col-lg-9,
			.col-xs-10,
			.col-sm-10,
			.col-md-10,
			.col-lg-10,
			.col-xs-11,
			.col-sm-11,
			.col-md-11,
			.col-lg-11,
			.col-xs-12,
			.col-sm-12,
			.col-md-12,
			.col-lg-12 {
				position: relative;
				min-height: 1px;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.navbar-header {
			min-width: 0px;
		}

		svg {
			display: none;
		}

		br {
			display: none;
		}

		span.udlite-heading-sm.star-rating--rating-number--2o8YM {
			display: none;
		}

		.thumbnail {
			height: 400px;
		}
	</style>

</head>

<body class="sidebar-xs has-detached-right">

<!-- Main navbar -->
<div class="navbar navbar-inverse bg-indigo">
	<div class="navbar-header">


		<ul class="nav navbar-nav pull-right visible-xs-block">
			<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			<li><a class="sidebar-mobile-detached-toggle"><i class="icon-grid7"></i></a></li>
		</ul>
	</div>

	<div class="navbar-collapse collapse" id="navbar-mobile">
		<ul class="nav navbar-nav">
			<li>
				<a class="sidebar-control sidebar-main-toggle hidden-xs" data-popup="tooltip" title="Collapse main" data-placement="bottom" data-container="body">
					<i class="icon-paragraph-justify3"></i>
				</a>
			</li>

			<li>
				<a class="sidebar-control sidebar-detached-hide hidden-xs" data-popup="tooltip" title="Hide detached" data-placement="bottom" data-container="body">
					<i class="icon-drag-right"></i>
				</a>
			</li>


		</ul>

		<div class="navbar-right">
			<p class="navbar-text" id="p1">Good Morning</p>
			<p class="navbar-text"><span class="label bg-success-400">Online</span></p>

			<ul class="nav navbar-nav">


			</ul>
		</div>
	</div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-main sidebar-default">
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user-material">
					<div class="category-content">
						<div class="sidebar-user-material-content">
							<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-responsive" alt=""></a>
							<h6>{{ hello.username }}</h6>
							<span class="text-size-small">Santa Ana, CA</span>
						</div>

						<div class="sidebar-user-material-menu">
							<a href="#user-nav" data-toggle="collapse"><span><p class="navbar-text" id="p1">Good Morning</p></span> <i class="caret"></i></a>
						</div>
					</div>

					<div class="navigation-wrapper collapse" id="user-nav">
						<ul class="navigation">
							<li><a href="#"><i class="icon-user-plus"></i> <span>My profile</span></a></li>

							<li class="divider"></li>
							<li><a href="#"><i class="icon-switch2"></i> <span>Logout</span></a></li>
						</ul>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="sidebar-category sidebar-category-visible">
					<div class="category-content no-padding">
						<ul class="navigation navigation-main navigation-accordion">

							<!-- Main -->
							<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
							<li><a href="#"><i class="icon-home4"></i> <span>Dashboard</span></a></li>

						</ul>
					</div>
				</div>
				<!-- /main navigation -->

			</div>
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4><i class="glyphicon glyphicon-heart-empty"></i> <span class="text-semibold"> Course-Feed</span></h4>
					</div>

					<div class="heading-elements">
						<div class="heading-btn-group">
							<a href="#" class="btn btn-link btn-float text-size-small has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
						</div>
					</div>
				</div>

				<div class="breadcrumb-line">
					<ul class="breadcrumb">
						<li><a href="#"><i class="icon-home2 position-left"></i> Home</a></li>
						<li><a href="#">learning</a></li>
						<li class="active">Courses</li>
					</ul>

					<ul class="breadcrumb-elements">
						<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>



						</li>
					</ul>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Detached content -->
				<div class="container-detached">
					<div class="content-detached">

						<!-- Info alert -->
						<div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
							<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
							<h6 class="alert-heading text-semibold">Keep learning</h6>
							You can get udemy courses<code>for free</code>.
							If you find it useful, if it save your money kindly <a href="https://www.instamojo.com/@adhyapna/l72d251b8ee264c678ebb7b18c7ee22bd/"><code>donate us</code></a> or <code><a href="https://www.instamojo.com/@adhyapna/le094f234829c4ba19eb570933a41827f/"/>Buy us coffee</code></a>

						</div>
						<!-- /info alert -->


						<!-- Sidebars overview -->
						<div class="panel panel-flat">
							{% for blog in projects %}
							<div class="col-lg-3 col-sm-6">
								<div class="thumbnail">
									<img class='ig' src='{{ blog.image }}'>
									<div class="caption">
										<a href="{{ blog.url }}" target="_blank" class="stretched-link"><i class="glyphicon glyphicon-heart"></i> Enroll now</a>
										<h5 class="no-margin-top text-semibold">{{ blog.txt }}</h5>
										{{ blog.instructor }} |
										{{ blog.rating }} |
										{{ blog.duration }}



									</div>
								</div>
							</div>
							{% endfor %}

							
						</div>
						<!-- /sidebars overview -->


						

						

					</div>
				</div>
				<!-- /detached content -->


				<!-- Detached sidebar -->
				<div class="sidebar-detached">
					<div class="sidebar sidebar-default sidebar-separate">
						<div class="sidebar-content">

							<!-- Sidebar search -->
							<div class="sidebar-category">
								<div class="category-title">
									<span>Search</span>
									<ul class="icons-list">
										<li><a href="#" data-action="collapse"></a></li>
									</ul>
								</div>

								<div class="category-content">
									<form action="#">
										<div class="has-feedback has-feedback-left">
											<input type="search" class="form-control" placeholder="We are working on it !!">
											<div class="form-control-feedback">
												<i class="icon-search4 text-size-base text-muted"></i>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!-- /sidebar search -->


							<!-- Action buttons -->
							<div class="sidebar-category">
								<div class="category-title">
									<span>Quick Link</span>
									<ul class="icons-list">
										<li><a href="#" data-action="collapse"></a></li>
									</ul>
								</div>

								<div class="category-content">
									<div class="row">
										<div class="col-xs-6">
											<button class="btn bg-teal-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-archive"></i> <span>Library</span></button>
											<button class="btn bg-purple-300 btn-block btn-float btn-float-lg" type="button"><i class="icon-file-text"></i> <span>Notes</span></button>
										</div>
										
										<div class="col-xs-6">
											<button class="btn bg-warning-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-stats-bars"></i> <span>Quiz</span></button>
											<button class="btn bg-blue btn-block btn-float btn-float-lg" type="button"><i class="icon-people"></i> <span>Dashboard</span></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /action buttons -->


							<!-- Sub navigation -->



						
						</div>
					</div>
				</div>
				<!-- /detached sidebar -->


				<!-- Footer -->
				<div class="footer text-muted">
					&copy; 2021. <a href="#">Adhyapna</a> 
				</div>
				<!-- /footer -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</div>
	<!-- /page container -->
	<script>
		var totalJSON;
		var today = new Date()
		var curHr = today.getHours()

		if (curHr < 12) {
			document.getElementById("p1").innerHTML = "Good morning";
		} else if (curHr < 18) {
			document.getElementById("p1").innerHTML = "Good afternoon";
		} else {
			document.getElementById("p1").innerHTML = "Good evening";
		}

		$.getJSON("https://adhyapna.com/static/demy/udemy.json", function (response) {

			totalJSON = response.remind;
			fetchMenu(totalJSON);
			fetchMenu2(totalJSON);
			fetchMenu1();


		});





		var itemList = document.querySelector("body > div.page-container > div > div.content-wrapper > div.content > div.container-detached > div > div.panel.panel-flat");
		let itemListHtml = "";
		function fetchMenu(comingjson) {
			itemListHtml = "";
			comingjson.forEach((ele) => {
				var cate = "cat = '" + ele.cat + "'";
				itemListHtml += `
				<div class="col-lg-3 col-sm-6">
									<div class="thumbnail">
										<img class='ig' src='${ele.image}'>
										<div class="caption">
                                            <a href="${ele.url}" target="_blank" class="stretched-link"><i class="glyphicon glyphicon-heart"></i> Enroll now</a>
                                            <h5 class="no-margin-top text-semibold">${ele.title}</h5>
                                            ${ele.rating}<br>
                                            ${ele.instructor} |
                                     



										</div>
									</div>
								</div>
                      
                    
                `;
			})
			itemList.innerHTML = itemListHtml;
		}



		var categ = [];

		function fetchMenu2(comingjson) {

			comingjson.forEach((ele) => {
				var check = ele.category;
				if (categ.indexOf(check) == -1) {
					categ.push(check);
				}

			})
		}






			var itemList1 = document.querySelector("body > div.page-container > div > div.content-wrapper > div.content > div.sidebar-detached > div > div > div:nth-child(2) > div.category-content");
			let itemListHtml1 = "";
			function fetchMenu1() {
				itemListHtml1 = "";
				for (var w = 0; w <= categ.length; w = w + 4) {

					if(w<=categ.length){
						var cat0 = categ[w];
					var cat1 = categ[w+1];
					var cat2 = categ[w+2];
					var cat3 = categ[w+3];


					itemListHtml1 += `
					<div class="row">
				<div class="col-xs-6">
												<button id="${cat0}" onClick="GFG_click(this.id)" class="btn bg-teal-400 btn-block btn-float btn-float-lg" type="button">
													<span>
														${cat0}
														</span></button>
												<button id="${cat1}" onClick="GFG_click(this.id)" class="btn bg-purple-300 btn-block btn-float btn-float-lg" type="button"> <span>
													${cat1}
													</span></button>
											</div>
											
											<div class="col-xs-6">
												<button id="${cat2}" onClick="GFG_click(this.id)" class="btn bg-warning-400 btn-block btn-float btn-float-lg" type="button"><span>
													${cat2}
													</span></button>
												<button id="${cat3}" onClick="GFG_click(this.id)" class="btn bg-blue btn-block btn-float btn-float-lg" type="button"> <span>
													${cat3}
													</span></button>
											</div></div>
                      
                    
                `;
				}
					}
				itemList1.innerHTML = itemListHtml1;
			}


			function GFG_click(clicked) {
                var itemList = document.querySelector("body > div.page-container > div > div.content-wrapper > div.content > div.container-detached > div > div.panel.panel-flat");
		let itemListHtml = "";
	
			itemListHtml = "";
			totalJSON.forEach((ele) => {
				
				if(ele.category==clicked){
					itemListHtml += `
				<div class="col-lg-3 col-sm-6">
									<div class="thumbnail">
										<img class='ig' src='${ele.image}'>
										<div class="caption">
                                            <a href="${ele.url}" target="_blank" class="stretched-link"><i class="glyphicon glyphicon-heart"></i> Enroll now</a>
                                            <h5 class="no-margin-top text-semibold">${ele.title}</h5>
                                            ${ele.rating}<br>
                                            ${ele.instructor} |
                                     



										</div>
									</div>
								</div>
                      
                    
                `;
				}
			})
			itemList.innerHTML = itemListHtml;
			$('html, body').animate({ scrollTop: 0 }, 'fast');

		}
            
			
	</script>

</body>

</html>
